{% extends 'base_template/__base.html' %}
{% load static %}
{% block title %}Kitchen Helper{% endblock %}


{% block recipes %}
<br>
<center>
<div class="row" style="background-image: url('https://pp.userapi.com/c638017/v638017401/42ff1/fM2WtI69lOY.jpg'); width: 800px; height: 200px;">
	
</div><br>

<h3 style="color: #8B0000 ">4 причины, почему тебе стоит спланировать свое меню:</h3></center>

<div class="row"><br>
<div class="col-md-6"> <ul><h3>ЭКОНОМЬ ВРЕМЯ</h3>
<li class="list-unstyled" style="padding-left: 20px;"> <h4>Не ломай голову "Что бы сегодня приготовить?"</h4></li>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Выбирай блюда которые готовятся быстро и просто</h4></li>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Получай <a href="#">список покупок </a> и ты точно ничего не забудешь!</h4></li>
</ul>
</div>
<div class="col-md-6"><ul><h3> ЭКОНОМЬ БЮДЖЕТ</h3>
<li class="list-unstyled" style="padding-left: 20px;"> <h4>Выбирай блюда из сезонных овощей и из обычных продуктов</h4></li>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Подбирай недорогие рецепты</h4></li>

</ul>

</div>
</div>
<div class="row">
<div class="col-md-6"><ul><h3>  ПИТАЙСЯ ПРАВИЛЬНО</h3>
<li class="list-unstyled" style="padding-left: 20px;"> <h4>
Не мучай свой организм, составь здоровый рацион</h4></li>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Черпайте идеи из готовых диетических и низкокалорийных меню</h4></li>
</ul>
</div>
<div class="col-md-6"><ul><h3>РАЗНООБРАЗЬ РАЦИОН</h3>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Планируй вместе с семьей, учитывая их пожелания</h4></li>
<li class="list-unstyled" style="padding-left: 20px;"><h4>Воспользуйся разнообразными вариантами готовых меню</h4></li>
</ul>
</div>
</div>



{% endblock %}

{% block footer %}
<nav class="navbar navbar-static-bottom" style="border-top:3px solid #8B0000;font-size: 30px;">
  <div class="container-fluid" >
       <center><a href="#" style="text-decoration: none;"><p><h4>Обратная связь</h4></p> </a><br>2017г</center>
  </div>
  </nav>

{% endblock %}